.aux-logo-header .aux-logo-anchor > img {max-height: 85px;}
@media screen and (min-width: 700px) {.aux-framed .aux-side-frames, body.aux-framed:after, .aux-framed .aux-side-frames:before, .aux-framed .aux-side-frames:after {background-color: #111;}}
.site-header-section.aux-sticky, .aux-elementor-header.aux-sticky {background-color: #fff;}
.aux-top-sticky .site-header-section.aux-sticky .aux-fill .aux-menu-depth-0 > .aux-item-content, .aux-top-sticky .site-header-section.aux-sticky .aux-header-elements, .aux-elementor-header.aux-sticky {height: 80px;}
.site-header-section .aux-header-elements:not(.aux-vertical-menu-elements), .site-header-section .aux-fill .aux-menu-depth-0 > .aux-item-content {height: 85px;}
.site-header-section {background-color: #fff;}
.aux-vertical-menu-side {background-color: #fff;}
.site-header-section .aux-middle .aux-menu-depth-0 > .aux-item-content {height: 60px;}
.site-header-section .aux-header .aux-burger:before, .site-header-section .aux-header .aux-burger:after, .site-header-section .aux-header .aux-burger .mid-line {border-color: #3d3d3d;}
#fs-menu-search:before {background-color: rgba(255,255,255,.95);}
#top-header {background-color: #fff;}
.single-post .aux-single-post-share span::before {font-size: 10px;}
.single-post .aux-overlay-bg-hash::before {opacity: .15;}
.page .aux-overlay-bg-hash::before {opacity: .5;}
.aux-subfooter-bar {background-color: #fafafa;}
.aux-subfooter-bar {border-top: 1px solid #eaeaea;}
.aux-subfooter {background-position: center center;}
.aux-subfooter {background-size: cover;}
.aux-subfooter {background-repeat: no-repeat;}
.aux-subfooter {border-top: 1px solid #eaeaea;}
.aux-site-footer {background-color: #313131;}
.aux-site-footer {border-top: 1px solid #eaeaea;}
.aux-logo-footer .aux-logo-anchor img {max-height: 50px;}
.aux-copyright {font-family: "Medula One";font-size: 24px;line-height: 1px;letter-spacing: .4px;}
.aux-site-footer .footer-menu li > a {font-size: 1px;}